aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
.deps
install-sh
.libs
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
debian/tpm-luks.debhelper.log
debian/.debhelper
debian/files
debian/tpm-luks*
swtpm-utils/.auditing-0
swtpm-utils/getcapability
swtpm-utils/lib/libtpm.la
swtpm-utils/nv_readvalue
swtpm-utils/pcr-extend
pcrsum/pcrdecode
pcrsum/pcrsum
